<h3>Formularios Template</h3>
<hr>
<form (ngSubmit)="guardar(formUsuario)" #formUsuario="ngForm">

  <div>
    <div class="mb-3">
      <label for="nombres" class="form-label">Nombres</label>
      <input type="text"
             class="form-control"
             [class.is-invalid] = "nombres.invalid && nombres.touched"
             id="nombres"
             name="nombres"
             [(ngModel)] = "usuario.nombres"
             required
             minlength="2"
             #nombres="ngModel"
      >
    </div>

    <div class="mb-3">
      <label for="apellidos" class="form-label">Apellidos</label>
      <input type="text"
             class="form-control"
             [class.is-invalid] = "apellidos.invalid && apellidos.touched"
             id="apellidos"
             name="apellidos"
             ngModel
             required
             minlength="3"
             #apellidos="ngModel"
      >
    </div>

    <div class="mb-3">
      <label for="correo" class="form-label">Correo Electrónico</label>
      <input type="email"
             class="form-control"
             [class.is-invalid] = "correo.invalid && correo.touched"
             pattern="^[\w-\.]+@([\w-]+\.)+[\w-]{2,4}$"
             id="correo"
             name="correo"
             ngModel
             required
             minlength="5"
             #correo="ngModel"
      >
    </div>

    <div class="mb-3">
      <label for="pais" class="form-label">Países</label>
      <select class="form-select"
              name="pais"
              [disabled]="paises.length === 0"
              [class.is-invalid] = "pais.invalid && pais.touched"
              id="pais"
              [ngModel]="usuario.pais"
              required
              #pais="ngModel"
      >
        <option *ngFor="let pais of paises" [value]="pais.codigo">
          {{ pais.nombre }}
        </option>

      </select>
    </div>

    <div class="mb-3">
      <label class="form-label">Género</label>
      <div>
        <div class="form-check form-check-inline">
          <input class="form-check-input"
                 type="radio"
                 name="genero"
                 id="femenino"
                 value="F"
                 [class.is-invalid] = "genero.invalid && genero.touched"
                 required
                 [ngModel]="usuario.genero"
                 #genero="ngModel"
          >
          <label class="form-check-label">
            Femenino
          </label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input"
                 type="radio"
                 name="genero"
                 id="masculino"
                 value="M"
                 [class.is-invalid] = "genero.invalid && genero.touched"
                 required
                 [ngModel]="usuario.genero"
                 #genero="ngModel"
          >
          <label class="form-check-label">
            Masculino
          </label>
        </div>
      </div>

    </div>

    <div class="mb-3">
      <button type="submit" class="btn btn-primary">Guardar</button>
    </div>
  </div>

</form>
